x-common-depends-on: &common-depends-on
  migrate:
    condition: service_completed_successfully
  database:
    condition: service_healthy
  azurite:
    condition: service_healthy

x-common-env: &common-env
  SECRET_KEY: "insecure"
  OIDC_BASE_URL: "https://login.microsoftonline.com/72fca1b1-2c2e-4376-a445-294d80196804"
  OIDC_RP_CLIENT_ID:
  OIDC_RP_CLIENT_SECRET:
  OIDC_RP_SCOPES:
  OIDC_OP_USER_ENDPOINT:
  OIDC_OP_ISSUER:
  OIDC_VERIFY_AUDIENCE: true
  OIDC_TRUSTED_AUDIENCES:
  APPLICATIONINSIGHTS_CONNECTION_STRING:
  AZURITE_CONNECTION_STRING: "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;"

volumes:
  azurite_data:
  db_data:

services:
  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    ports:
      - "10000:10000" # Blob service
    volumes:
      - azurite_data:/data
    command: >
      azurite
      -l /data
      --blobHost 0.0.0.0
      --loose
    healthcheck:
      test: nc 127.0.0.1 10000 -z
      interval: 1s
      retries: 30

  database:
    image: postgis/postgis:15-3.4
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: meetbouten
      POSTGRES_USER: meetbouten
      POSTGRES_PASSWORD: insecure
    volumes:
      - db_data:/var/lib/postgresql/data
    command: postgres -c datestyle='iso, dmy'
    healthcheck:
      test: pg_isready -U meetbouten -d meetbouten
      interval: 10s
      timeout: 1s
      retries: 5

  migrate:
    build:
      context: .
      target: app
    environment:
      SECRET_KEY: "insecure"
      DJANGO_SETTINGS_MODULE: main.settings
      OTEL_SDK_DISABLED: true
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - .:/app
    user: 1000:1000
    command: python manage.py migrate --noinput
    restart: "no"

  otel-collector:
    build:
      context: otel-collector
    image: ${REGISTRY:-localhost:5000}/${REPOSITORY:-opdrachten/statistiekhub-otel-collector}:${VERSION:-latest}
    volumes:
      - ./otel-collector/config.local.yaml:/etc/otelcol-contrib/config.yaml
    depends_on:
      - jaeger
    ports:
      - "4317:4317"
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: 256M
        reservations:
          cpus: "0.05"
          memory: 128M

  jaeger:
    image: jaegertracing/jaeger:2.8.0
    ports:
      # ui
      - "16686:16686"
      # grpc
      - "14317:4317"
    environment:
      LOG_LEVEL: debug

  app:
    build:
      context: .
      target: app
    image: ${REGISTRY:-localhost:5001}/${REPOSITORY:-opdrachten/meetbouten}:${VERSION:-latest}
    depends_on:
      <<: *common-depends-on
      otel-collector:
        condition: service_started
    volumes:
      - .:/app/
    environment:
      <<: *common-env
    command: /app/deploy/docker-run.sh
    user: 1000:1000
      
  dev:
    build:
      context: .
      target: dev
    depends_on:
      <<: *common-depends-on
      otel-collector:
        condition: service_started
    volumes:
      - .:/app/
    environment:
      <<: *common-env
      DEBUG: "true"
      LOG_LEVEL: "DEBUG"
      DJANGO_LOG_LEVEL: "DEBUG"
      DJANGO_SUPERUSER_PASSWORD: "0000"
      DJANGO_SUPERUSER_USERNAME: "admin"
      DJANGO_SUPERUSER_EMAIL: "admin@amsterdam.nl"
    command: python manage.py runserver 0.0.0.0:8000
    user: 1000:1000

  test:
    build:
      context: .
      target: tests
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - ./src:/app/src
      - ./tests:/app/tests
      - ./media:/app/media
    environment:
      <<: *common-env
      AZURITE_CONNECTION_STRING:
      DJANGO_SETTINGS_MODULE: "main.settings"
      OIDC_RP_CLIENT_ID: tests
      OIDC_RP_CLIENT_SECRET: tests
      OTEL_EXPORTER: "none"
      OTEL_SDK_DISABLED: true
      MEDIA_ROOT: "/tmp/media"
      COVERAGE_FILE: /tmp/.coverage
    command: pytest /app/tests -m 'not migration'
    user: 1000:1000

  linting:
    build:
      context: .
      target: linting
    volumes:
      - ./src:/app/src
      - ./tests:/app/tests
    user: 1000:1000
