# Tools for maintaining requirements.txt:
pip-tools

# Useful extra developer packages:
factory-boy
locust
pytest<8  # Pytest 8 is breaking with an error on /root/__init__.py
pytest-cov
pytest-django
pytest-factoryboy
model-bakery
ipython
time-machine
