# Define all requirements, only pin when necessary (and if so, add a comment explaining why).
# See # https://git.datapunt.amsterdam.nl/Datapunt/python-best-practices/blob/master/dependency_management/

drf_amsterdam
drf-yasg
psycopg2-binary
pytz
requests
pillow
setuptools

# Django
Django<4.2  # Django 4.2 does not support Postgres 11
django-datetime-utc
django-filter
django-extensions
django-debug-toolbar
django-import-export>=3.0.1
django-leaflet
djangorestframework-xml
django-storages[azure]

# Azure
azure-cli
azure-core
azure-identity
azure-storage-blob
azure-keyvault
azure-keyvault-secrets
opencensus-ext-django
opencensus-ext-azure
opencensus-ext-postgresql
opencensus-ext-logging
opencensus-ext-requests

# Sentry
raven
sentry-sdk