# Tools for maintaining requirements.txt:
pip-tools

Django<6  # Do not upgrade to Django 6 yet!

# Useful extra developer packages:
factory-boy
locust
pytest
pytest-cov
pytest-django
pytest-factoryboy
model-bakery
ipython
time-machine
