# Define all requirements, only pin when necessary (and if so, add a comment explaining why).
# See # https://git.datapunt.amsterdam.nl/Datapunt/python-best-practices/blob/master/dependency_management/

Django<4.2  # Django 4.2 does not support Postgres 11
django-datetime-utc
django-filter
django-extensions
django-debug-toolbar
django-import-export
djangorestframework
djangorestframework-gis
djangorestframework-xml
drf_amsterdam
drf-yasg
psycopg2-binary
pytz
requests
sentry-sdk
django-import-export>=3.0.1
django-leaflet
pillow
setuptools
django-storages[azure]
azure-storage-blob

# Datapunt packages
datapunt-keycloak-oidc