name: CI Checks

on:
  pull_request:
    branches: main

jobs:
  linting-and-tests:
    uses: amsterdam/opdrachten-team-github-workflows/.github/workflows/CI.yml@v1
    with:
      repo_name: amsterdam
      project_name: meetbouten